{% extends 'master' %}

{% block content %}
  <div class="post">
    <div>
      <a href="/" class="btn btn-link">  Go Back </a>
    </div>
    <hr>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
  </div>
{% endblock %}
